nav {
  padding: 1.5em;
  border-bottom: 3vw;
  display: flex;
  height: 5em;
  width: 100%;
  position: fixed;
  top: 0;
  color: #ffffff;
  background-color: #4056A1;
  justify-content: space-between;
  font-size: x-large;
}

.span {
  font-family: 'Bungee', cursive;
}

.create-tweet {
  color: none;
  background-color: #4056A1;
  padding: 1em; 
  border: 0; 
  text-align: center; 
  border-radius: 0.5em;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all 0.5s;
}

 
.create-tweet:active {
  border: none;
} 


.create-tweet:after {
  content: '»';
  color: red;
  /* place-content: ; */
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.create-tweet:hover{
  padding-right: 24px;
  padding-left:8px;
}

.create-tweet:hover:after {
  opacity: 1;
  right: 10px;
}

@media only screen 
and (min-width: 764px) 
and (max-width: 1024px) {
  nav {
    background-color: #c6e000;
    background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
    position: relative;
    font-size: x-large;
  }
  .create-tweet {
    background-color: #c6e000;
  }
}