.tweet {
  padding: 10px;
  border: 4px solid grey;
  margin: 50px;
  display: flex;
  flex-direction: column;
  background-color:  #f4f1ec;
  width: 100%;
}
.tweet:hover {
  color: #302e2b;
  box-shadow: 10px 10px grey;
}
.tweet:hover .handle{
  color: #545149;
}
.handle {
  color: transparent;
}
.tweet header {
  height: 130px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:  #f4f1ec;
}
.tweet header div {
  display: flex;
}

.tweet header div img {
  width: 100px;
  padding-right: 10px;
}
.tweet footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 4px solid gray;
}

