.tweet {
  padding: 1vw;
  border: 0.8vw solid grey;
  margin: 2.5em;
  display: flex;
  flex-direction: column;
  background-color:  #f4f1ec;
  width: 40vw;
}
.tweet:hover {
  color: #302e2b;
  box-shadow: 1vw 1vw grey;
}
.tweet:hover .handle{
  color: #545149;
}
.handle {
  color: transparent;
}
.tweet header {
  height: 5vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:  #f4f1ec;
}
.tweet header div {
  display: flex;
}

.tweet header div img {
  padding-right: 10px;
}
.tweet footer {
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 4px solid gray;
}

@media only screen 
and (min-width: 764px) 
and (max-width: 1024px) {
  .tweet {
    width: 100%;
    margin: 0;
    margin-bottom: 3vw;
    margin-top: 3vw;
    height: 25vw;
  }

  .tweet header {
    height: auto;
  }

  .tweet footer {
    padding: 2vw;
    height: auto;
  }
}